@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@mixin header {
  header {
    width: 100%;
    display: inline-block;
    nav {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        .navbar__item {
          display: inline;
          font-family: $font-stack;
          font-size: 17px;
          a {
            color: #f2f2f2;
            text-decoration: none;
            padding: 14px;
            &:hover {
              background-color: #111;
            }
          }
        }
      }
    }
  }
}
