@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@mixin pagination {
  .pagination ul {
    margin: 2em auto;
    padding-left: 0;
    list-style-type: none;
    .pagination__item {
      padding: 8px 16px;
      background-color: #333;
      color: white;
      display: inline;
      &:hover {
        background-color: black;
        cursor: pointer;
      }
      &--active {
        background-color: rgb(146, 0, 0);
      }
      &--center {
        &:hover {
          background-color: "";
          cursor: default;
        }
      }
    }
  }
}
