@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

@mixin pagination {
  .pagination ul {
    margin: 2em auto;
    padding-left: 0;
    list-style-type: none;

    .pagination__item {
      padding: 8px 16px;
      background-color: $secondary-color;
      color: $low-color;
      display: inline;
      &:hover {
        background-color: $dark-color;
        cursor: pointer;
      }
      &--active {
        background-color: $detail-color;
      }
      &--center {
        &:hover {
          cursor: default;
          background-color: "";
        }
      }
    }
  }
}
