@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: inline-block;
}
header nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
header nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
header nav ul .navbar__item {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
}
header nav ul .navbar__item a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px;
}
header nav ul .navbar__item a:hover {
  background-color: #111;
}

main {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}
main .cards__list {
  width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main .cards__list .card {
  width: 200px;
  height: 220px;
  border: 2px solid #111;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .cards__list .card__title {
  text-align: center;
  margin: 0;
  padding-top: 5px;
}
main .cards__list .card__image {
  width: 80%;
}
main .cards__list .card__image:hover {
  height: 150px;
  width: 90%;
}
main .cards__list .card__add, main .cards__list .card__remove {
  bottom: 5px;
  right: 5px;
  width: 100%;
  background-color: #920000;
  color: #f2f2f2;
  cursor: pointer;
  border: none;
}
main .cards__list .card__add:hover, main .cards__list .card__remove:hover {
  background-color: #333;
}
main .cards__list .card a {
  width: 100%;
}
main .detail__edit {
  background-color: #333;
  color: #f2f2f2;
  margin-top: 5px;
  border: solid 2px #f2f2f2;
  padding: 5px;
  width: 100px;
  font-size: 15px;
}
main .detail__edit:hover {
  background-color: #111;
  cursor: pointer;
}

.pagination ul {
  margin: 2em auto;
  padding-left: 0;
  list-style-type: none;
}
.pagination ul .pagination__item {
  padding: 8px 16px;
  background-color: #333;
  color: #f2f2f2;
  display: inline;
}
.pagination ul .pagination__item:hover {
  background-color: #111;
  cursor: pointer;
}
.pagination ul .pagination__item--active {
  background-color: #920000;
}
.pagination ul .pagination__item--center:hover {
  cursor: default;
  background-color: "";
}

.detail {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.detail .card {
  width: 300px;
  height: 390px;
  border: 4px solid #111;
  background-color: #920000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
}
.detail .card__list {
  padding: 0;
}
.detail .card__list li {
  list-style: none;
  text-align: center;
  margin: 0;
  font-size: 16px;
}
.detail .card__name {
  font-size: 30px;
  padding: 5px;
  margin: 10px;
}

/*# sourceMappingURL=styles.css.map */
